* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Noto Serif HK', serif;
}

.header {
    background-color: #d9d9d9;
}

.header__titulos {
    background-image: url(../assets/img/titulo.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}


.header__h1 {
    font-size: 10vw;
    text-align: center;
    color: black;
    color: #FFFFFF;
    text-shadow: 2px 2px 0 #030303, 2px -2px 0 #030303, -2px 2px 0 #030303, -2px -2px 0 #030303, 2px 0px 0 #030303, 0px 2px 0 #030303, -2px 0px 0 #030303, 0px -2px 0 #030303;
    color: #FFFFFF;
}

.header__h2 {
    font-size: 6vw;
    text-align: center;
    color: black;
    color: #FFFFFF;
    text-shadow: 2px 2px 0 #030303, 2px -2px 0 #030303, -2px 2px 0 #030303, -2px -2px 0 #030303, 2px 0px 0 #030303, 0px 2px 0 #030303, -2px 0px 0 #030303, 0px -2px 0 #030303;
    color: #FFFFFF;
}

.nav-link {
    background-color: rgba(230, 195, 40, 0.822);
    color: black;
}

.nav-link.active {
    border: 2px solid rgba(0, 0, 0, 0.329);

}

.nav-link:hover {
    color: black;
    background-color: rgb(221, 183, 11);
}

.nav-mio {
    background-color: rgba(230, 195, 40, 0.822);
}

/* INICIO ESTILO MAIN INDEX */

.principal {
    text-align: center;
    padding-top: 2.5%;
}

.principal__h3 {
    font-size: 6vw;
    color: #000000;
    background: #FFFFFF;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
    text-decoration: underline;
}

.principal__texto {
        color: #000000;
    font-size: 4vw;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2.5%;
}

.principal__carrusel{
    padding-top: 2.5%;
    padding-bottom: 5%;
}

.principal__slideshow {
    width: 50vw;
    margin-left: 25%;
border: 2px solid rgba(0, 0, 0, 0.479);
border-radius: 20px;
}

.principal__img{
    height: 25vw;
    object-fit: cover;

}

/* INICIO ESTILO FOOTER */
.footer{
    background-color: rgba(230, 195, 40, 0.822);
    border: 2px solid rgba(0, 0, 0, 0.479);
    border-radius: 20px;
    width: 98vw;
    margin-left: 1%;
}

.footer__titulo{
    text-align: center;
    font-size: 4vw;
}


.footer__redes{
    text-align: center;
    font-size: 8vw;
}
.footer__redes a{
    color:  black;
}