
// Colores
$color-fondo: radial-gradient(white, rgba(230, 195, 40, 0.822));

//color nav:hover y color botones
$color2:rgb(221, 183, 11);

// color fondo nav y color fondo footer
$color3:rgba(230, 195, 40, 0.822);