.footer{
    background-color: $color3;
    &__titulo{
        text-align: center;
        text-decoration: underline;
        font-size: 4vw;
    }
    &__redes{
        text-align: center;
        font-size: 6vw;
        padding-bottom: 2.5%;
        & a{
            color: black;
        }
    }
    &__piedepagina{
        font-size: 2.5vw;
        padding: 1.5%;
        width: 75%;
        height: 5%;
        border-top: 2px solid rgba(0, 0, 0, 0.479);
    }
}