.header {
    background: $color-fondo;

    &__titulos {
        background-image: url(../assets/img/titulo.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.9;
    }
    &__h1{
        font-size: 10vw;
        color: black;
        color: #FFFFFF;
        text-shadow: 2px 2px 0 #030303, 2px -2px 0 #030303, -2px 2px 0 #030303, -2px -2px 0 #030303, 2px 0px 0 #030303, 0px 2px 0 #030303, -2px 0px 0 #030303, 0px -2px 0 #030303;
        color: #FFFFFF;
    }
    &__h2{
        font-size: 6vw;
        color: black;
        color: #FFFFFF;
        text-shadow: 2px 2px 0 #030303, 2px -2px 0 #030303, -2px 2px 0 #030303, -2px -2px 0 #030303, 2px 0px 0 #030303, 0px 2px 0 #030303, -2px 0px 0 #030303, 0px -2px 0 #030303;
        color: #FFFFFF;
    }

}