.header {
    background: $color-fondo;

    &__titulos {
        background-image: url(../assets/img/titulo.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.9;
    }
    &__h1{
        text-align: center;
        font-size: 2rem;
        color: black;
        color: #FFFFFF;
        text-shadow: 2px 2px 0 #030303, 2px -2px 0 #030303, -2px 2px 0 #030303, -2px -2px 0 #030303, 2px 0px 0 #030303, 0px 2px 0 #030303, -2px 0px 0 #030303, 0px -2px 0 #030303;
        color: #FFFFFF;
    }
    &__h2{
        text-align: center;
        font-size: 1rem;
        color: black;
        color: #FFFFFF;
        text-shadow: 2px 2px 0 #030303, 2px -2px 0 #030303, -2px 2px 0 #030303, -2px -2px 0 #030303, 2px 0px 0 #030303, 0px 2px 0 #030303, -2px 0px 0 #030303, 0px -2px 0 #030303;
        color: #FFFFFF;
    }
    @include size-480{
        .header__h1{
            font-size: 3rem;
        }
        .header__h2{
            font-size: 2rem;
        }
    }
    @include size-768{
        .header__h1{
            font-size: 4rem;
        }
        .header__h2{
            font-size: 3rem;
        }
    }
    @include size-1200{
        .header__h1{
            font-size: 6rem;
        }
        .header__h2{
            font-size: 5rem;
        }
    }
}
