.principal {
    text-align: center;
    padding-top: 2.5%;

    &__h3 {
        font-size: 4vw;
        @include estilo-titulos();
    }

    &__h4 {
        font-size: 3.5vw;
        @include estilo-titulos();
    }

    &__texto {
        color: #000000;
        font-size: 3vw;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 2.5%;
    }
}